body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-color: white;
}

h3 {
    position: absolute;
    color: #006aba;
    width: 320px;
    font-size: 32px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

svg {
    position: absolute;
}

#label-follower {
    left: 20px;
    top: 920px;
}

#label-subscriber {
    left: 360px;
    top: 920px;
}

#label-cheer {
    left: 700px;
    top: 920px;
}

#label-track {
    left: 1040px;
    top: 920px;
}

#alerts {
    left: 365px;
    top: 20px;
}

#display-follower {
    left: 20px;
    top: 1020px;
}

#display-subscriber {
    left: 360px;
    top: 1020px;
}

#display-cheer {
    left: 700px;
    top: 1020px;
}

#display-track {
    left: 1040px;
    top: 1020px;
}

#counter1 {
    left: 1380px;
    top: 940px;
}

#counter2 {
    left: 1380px;
    top: 980px;
}

#counter3 {
    left: 1380px;
    top: 1020px;
}